---
- name: Install Docker & Minikube on EC2 Amazon Linux 2
  hosts: server
  become: yes

  vars:
    docker_package: docker
    minikube_version: v1.33.1
    kubectl_version: v1.30.0

  tasks:

    # ----------------------
    # Install Docker
    # ----------------------
    - name: Install Docker
      yum:
        name: "{{ docker_package }}"
        state: present

    - name: Enable and start Docker
      service:
        name: docker
        state: started
        enabled: true

    - name: Add ec2-user to Docker group
      user:
        name: ec2-user
        groups: docker
        append: yes

    # ----------------------
    # Minikube Dependencies
    # ----------------------
    - name: Install required packages
      yum:
        name:
          - conntrack
          - wget
        state: present

    # ----------------------
    # Install Minikube
    # ----------------------
    - name: Download Minikube binary
      get_url:
        url: "https://storage.googleapis.com/minikube/releases/{{ minikube_version }}/minikube-linux-amd64"
        dest: /usr/local/bin/minikube
        mode: '0755'

    # ----------------------
    # Install kubectl
    # ----------------------
    - name: Download kubectl
      get_url:
        url: "https://storage.googleapis.com/kubernetes-release/release/v{{ kubectl_version }}/bin/linux/amd64/kubectl"
        dest: /usr/local/bin/kubectl
        mode: '0755'

    # ----------------------
    # Start Minikube
    # ----------------------
    - name: Ensure ec2-user has Docker permissions
      become: yes
      become_user: ec2-user
      shell: |
        newgrp docker
      args:
        executable: /bin/bash

    - name: Start Minikube as ec2-user
      become: yes
      become_user: ec2-user
      shell: |
        export CHANGE_MINIKUBE_NONE_USER=true
        minikube start --driver=docker --force
      args:
        executable: /bin/bash
